{% extends 'base.html.twig' %}

{% block body %}
    <main class="main">
        <div class="dashboard-section">
            <div class="about">
                <div class="about__welcome">Welcome to Dietify!</div>
                <div class="about__text">
                    <p>Are you looking to transform your health and well-being through tailored nutrition? Look no
                        further!
                        Our platform is dedicated to crafting personalized diets designed specifically for you.
                        We understand that each individual has unique dietary needs, goals, and preferences,
                        and we're here to help you navigate your nutritional journey with precision and care.</p>
                </div>
                <div class="about__buttons">
                    <a href="{{ path('app_profile_diet_show') }}" class="btn-view-plans">VIEW PLANS</a>
                </div>
            </div>
            {% if app.user and meals is not empty %}
                <h1 class="meals-today">Meals today</h1>
                <div class="meal-container">
                    {% for meal_time, meal_array in meals %}
                        {% for meal_type, meal_details in meal_array %}
                            <div class="meal">
                                <div class="meal__type-container">
                                    <div class="meal__type">{{ meal_type|capitalize }}</div>
                                    <div class="meal__preparation-time">{{ meal_details[0]['preparation_time'] }}m</div>
                                </div>
                                <div class="meal__details">
                                    <p> {{ meal_details[0]['name'] }}</p>
                                    <div class="meal__macros">
                                        <p>KCAL: <span class="color-green">{{ meal_details[0]['calories'] }}</span></p>
                                        <p>C: <span class="color-green">{{ meal_details[0]['carbohydrates'] }}g</span></p>
                                        <p>P: <span class="color-green">{{ meal_details[0]['protein'] }}g</span></p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            {% else %}
                <div class="unlogged-section">
                    <h2>Sample Meals</h2>
                    <div class="meal-container">
                        <div class="meal">
                            <div class="meal__name">Breakfast</div>
                            <p class="meal__food">Avocado Toast with Poached Eggs</p>
                        </div>
                        <div class="meal">
                            <div class="meal__name">Lunch</div>
                            <p class="meal__food">Quinoa Salad Bowl with Grilled Chicken</p>
                        </div>
                        <div class="meal">
                            <div class="meal__name">Snack</div>
                            <p class="meal__food">Apple with Almond Butter</p>
                        </div>
                        <div class="meal">
                            <div class="meal__name">Dinner</div>
                            <p class="meal__food">Salmon with Steamed Broccoli and Quinoa</p>
                        </div>
                    </div>
                    <div class="unlogged-section__buttons">
                        <a href="{{ path('app_profile_diet') }}" class="btn-get-your-plan generate-plan-link">GET YOUT PLAN</a>
                        <a href="{{ path('app_dashboard_how_it_works') }}" class="btn-how-it-works">HOW IT WORKS</a>
                    </div>
                </div>
            {% endif %}
        </div>
    </main>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
