{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <div class="sidebar">
        <a href="{{ path('app_profile') }}">Profile</a>
        <a href="{{ path('app_user', {'id': app.user.id}) }}">Settings</a>
        <a href="{{ path('app_favourites') }}">Favourites</a>
    </div>
    {{ include('user/_form.html.twig', {'button_label': 'Update'}) }}

    <div class="elipse-left"></div>
    {% block javascripts %}
        {{ parent() }}
    {% endblock %}
{% endblock %}